* {
    padding: 0;
    margin: 0;
}

body {
    margin: 10px;
    background: url(../images/background-top-left.png) no-repeat 10px 10px / calc(394px * 1.2) calc(64px * 1.2) fixed,
    url(../images/background-top-right.png) no-repeat calc(100% - 10px) 10px / calc(250px * 1.5) calc(86px * 1.5) fixed,
    url(../images/background-bottom-left.png) no-repeat 10px calc(100% - 10px) / calc(129px * 1.5) calc(175px * 1.5) fixed,
    url(../images/background-bottom-right.png) no-repeat calc(100% - 10px) calc(100% - 10px) / calc(789px * 0.5) calc(381px * 0.5) fixed,
    url(../images/background-center.png) no-repeat center center/calc(293px * 2) calc(289px * 2) fixed;
    /*
          background-image: url("../images/background.jpg");
          background-repeat: no-repeat;
          background-position: left top;
          background-size: width length;
          background-attachment: fixed;
        */
}

h1 {
    margin-top: 120px;
    text-align: center;
}

#MyForm {
    margin: 30px auto 5px auto;
    padding: 10px 0 20px 0;
    width: 60%;
    border: 1px solid gray;
    border-left-width: 0;
    border-right-width: 0;
    text-align: center;
}

p {
    width: 320px;
    margin: 10px auto;
    *zoom: 1;
}

/*清楚浮动*/
p::after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}

label {
    float: left;
    width: 80px;
    height: 40px;
    margin-right: 10px;
    line-height: 40px;
    text-align: right;
}

.none {
    display: none;
}

input:not(#submit), select {
    box-sizing: content-box;
    float: left;
    height: 26px;
    width: 168px;
    margin: 6px 3px;
    padding: 0 3px;
    border: 1px solid silver;
    border-radius: 5px;
    transition: all .2s ease;
}

.left-select {
    width: 63px;
}

.right-select {
    width: 91px;
}

input:not(#submit):focus, select:focus {
    outline: none;
    border: 1px solid #666;
}

.promote {
    color: #aaa;
}

#submit {
    width: 60px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #999;
    border-radius: 5px;
    background: linear-gradient(to right, #eee, #fff, #eee);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .6);
}

#submit:focus {
    outline: none;
}

#submit:active {
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .6);
}

.marked {
    float: left;
    width: 10px;
    height: 40px;
    margin-left: 10px;
    line-height: 40px;
    text-align: left;
    font-weight: bold;
}

.marked::after {
    transition: all .1s ease;
}

.required::after {
    content: "*";
    color: #f00;
}

.right::after {
    content: "√";
    color: limegreen;
}

.wrong::after {
    content: "×";
    color: orangered;
}

.optional:after {
    content: "·";
    color: deepskyblue;
}

#aside {
    position: fixed;
    right: calc(20% + 60px);
    top: calc(50% - 60px);
}

.float-icon {
    position: absolute;
    width: 60px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.float-icon a {
    color: #fff;
    text-decoration: none;
}

#TMS {
    top: 0;
    background-color: mediumpurple;
}

#tuanwei {
    top: 40px;
    background-color: darkorange;
}

#xueshenghui {
    top: 80px;
    background-color: darkgreen;
}

#kexie {
    top: 120px;
    background-color: dodgerblue;
}

.float-icon ul {
    position: absolute;
    left: -80px;
    list-style-type: none;
    visibility: hidden;
    opacity: .0;
    transition: all .1s ease-in-out;
}

.float-icon li {
    width: 64px;
    height: 29px;
    line-height: 30px;
    text-align: center;
    transition: all .2s ease-in-out;
}

#xueshenghui li {
    width: 100px;
}

.float-icon li a {
    color: #fff;
    text-decoration: none;
}

.float-icon li + li {
    border-top: 1px solid #fff;
}

.float-icon:hover ul {
    left: -65px;
    visibility: visible;
    opacity: 1.0;
}

#xueshenghui:hover ul {
    display: block;
    left: -101px;
    visibility: visible;
    opacity: 1.0;
}

#TMS:hover {
    background-color: purple;
}

#tuanwei:hover {
    background-color: orangered;
}

#tuanwei ul {
    top: -55px;
}

#tuanwei li {
    background-color: orange;
}

#tuanwei li:hover {
    background-color: coral;
}

#xueshenghui:hover {
    background-color: darkslategrey;
}

#xueshenghui ul {
    top: -70px;
}

#xueshenghui li {
    background-color: silver;
}

#xueshenghui li:hover {
    background-color: #777;
}

#kexie:hover {
    background-color: mediumblue;
}

#kexie ul {
    top: -40px;
}

#kexie li {
    background-color: lightskyblue;
}

#kexie li:hover {
    background-color: deepskyblue;
}

footer {
    text-align: center;
}

@media screen and (max-width: 800px) {
    body {
        background: url(../images/background-top-left.png) no-repeat 1px 10px / calc(394px) calc(64px) fixed,
        url(../images/background-top-right.png) no-repeat calc(100% - 1px) 1px / calc(250px) calc(86px) fixed,
        url(../images/background-bottom-left.png) no-repeat 1px calc(100% - 1px) / calc(129px) calc(175px) fixed,
        url(../images/background-bottom-right.png) no-repeat calc(100% - 1px) calc(100% - 1px) / calc(789px * 0.3) calc(381px * 0.3) fixed,
        url(../images/background-center.png) no-repeat center center/calc(293px) calc(289px) fixed;
    }

    h1 {
        margin-top: 80px;
    }

    #MyForm {
        width: 100%;
    }

    #aside {
        right: 60px;
    }
}

@media screen and (max-width: 420px) {
    #aside {
        display: none;
    }
}